doctype html
html
    head(lang='en')
        meta(charset='utf-8')
        title Imooc 科技小站 后台录入页
        link(type='text/css',href='./css/base.css',rel='stylesheet')
        link(type='text/css',href='./css/admin.css',rel='styleSheet')
    body
        div(class='g-content')
            h1(class='m-title f-marBom-40') Imooc 科技小站
            div(class='m-form')
                h2(class='m-head')
                form(class='form',name='message')
                    ul(class='messageList')
                        li(class='c-item')
                            span(class='info') 电影名字:
                            input(type='text',name='name')
                        li(class='c-item')
                            span(class='info') 导演名字:
                            input(type='text',name='director')
                        li(class='c-item')
                            span(class='info') 所属国家:
                            input(type='text',name='nation')
                        li(class='c-item')
                            span(class='info') 语&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;言:
                            input(type='text',name='lang')
                        li(class='c-item')
                            span(class='info') 上映年份:
                            input(type='text',name='time')
                        li(class='c-item')
                            span(class='info') 电影海报:
                            input(type='text',name='poster')
                        li(class='c-item')
                            span(class='info') 播放地址:
                            input(type='text',name='url')
                        li(class='c-item')
                            span(class='info') 电影简介:
                            input(type='text',name='Intro')
                        li(class='c-item f-center')
                           button(type='button',class='btn') 录入