doctype html
html
    head(lang='en')
        meta(charset='utf-8')
        title Imooc 科技小站 电影详情页
        link(type='text/css',rel='stylesheet',href='./css/base.css')
        link(type='text/css',rel='stylesheet',href='./css/detail.css')
    body
        div(class='g-content')
            h1(class='m-title f-marBom-40') Imooc科幻小站
            div(class='m-handle')
                h2(class='m-head') 详情页面
                div(class='f-clearfix')
                    div(class='c-view f-float-l')
                    ul(class='m-brif f-float-l')
                        li 名称：大喊大叫
                        li 导演：大幅度快递费
                        li 所属国家：美国
                        li 语言：英语
                        li 上映年份：2016-2-4
            div(class='m-detail')
                h2(class='m-head')
                p 活动经费后点击的防护等级电话费觉得活动经费后点击的防护等级电话费觉得活动经费后点击的防护等级电话费觉得
