doctype html
html
    head(lang='en')
        meta(charset='utf-8')
        title imooc科幻小站 首页
        link(type='text/css',rel='stylesheet',href='./css/base.css')
        link(type='text/css',rel='stylesheet',href='./css/index.css')
    body
        div(class='g-content')
            h1(class='m-title f-marBom-40') Imooc科幻小站
            div(class='m-content')
                h2(class='m-head') 电影列表
                ul(class='m-body')
                    li(class='c-item')
                        img(src='./../img/test.jpg')
                        p(class='name f-center',title='电影名称') 电影名称
                        p(class='handle f-center')
                            button(type='button' class='btn') 播放
                    li(class='c-item')
                        img(src='./../img/test.jpg')
                        p(class='name f-center',title='电影名称') 电影名称
                        p(class='handle f-center')
                            button(type='button' class='btn') 播放
                    li(class='c-item')
                        img(src='./../img/test.jpg')
                        p(class='name f-center',title='电影名称') 电影名称
                        p(class='handle f-center')
                            button(type='button' class='btn') 播放
                    li(class='c-item')
                        img(src='./../img/test.jpg')
                        p(class='name f-center',title='电影名称') 电影名称
                        p(class='handle f-center')
                            button(type='button' class='btn') 播放