doctype html
html
    head(lang='en')
        meta(charset='utf-8')
        title Imooc 科技小站 综合列表页
        link(type='text/css',href='./css/base.css',rel='styleSheet')
        link(type='text/css',href='./css/list.css',rel='styleSheet')
    body
        div(class='g-content')
            h1(class='m-title f-marBom-40') Imooc 科技小站
            div(class='m-content')
                h2(class='m-head') 综合列表页
                table(class='m-list')
                    tr(class='head')
                        th(class='colName') 名字
                        th(class='colLook') 查看
                        th(class='colUpdate') 更新
                        th(class='colDelete') 删除
                    tr
                        td(class='colName') 名字
                        td(class='colLook') 查看
                        td(class='colUpdate') 更新
                        td(class='colDelete') 删除