extends ../layout.pug
block content
    div(class='m-content')
        h2(class='m-head')= title
        table(class='m-list')
            tr(class='head')
                th(class='colName') 电影分类
                th(class='colUpdate') 更新
                th(class='colDelete') 删除
            each item in list

                tr(class='item-id-'+item._id)
                    th(class='colName')= item.name
                    td(class='colUpdate')
                        a(href='/admin/movie/updata/'+item._id,target='_blank') 更新
                    td(class='colDelete')
                        button(class='del',type='button',data-id=item._id) 删除

    script(src='/js/catetory.js')